<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cleverbot.Net" version="1.0.0" targetFramework="net452" />
  <package id="Core.Common" version="0.1.212" targetFramework="net452" />
  <package id="Core.Google.Auth" version="0.1.8" targetFramework="net452" />
  <package id="Discord.Net" version="0.9.6" targetFramework="net452" />
  <package id="Discord.Net.Audio" version="0.9.6" targetFramework="net452" />
  <package id="Discord.Net.Commands" version="0.9.6" targetFramework="net452" />
  <package id="Google.Apis" version="1.21.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.21.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.21.0" targetFramework="net452" />
  <package id="Google.Apis.Plus.v1" version="1.9.0.1710" targetFramework="net452" />
  <package id="Google.Apis.YouTube.v3" version="1.21.0.760" targetFramework="net452" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net452" />
  <package id="NAudio" version="1.8.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="VideoLibrary" version="1.3.4" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net452" />
  <package id="YoutubeExtractor" version="0.10.11" targetFramework="net452" />
  <package id="YoutubeSearch.dll" version="1.1" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>